# Dependencies
node_modules/
package-lock.json

# Compiled CSS
styles/style.css
styles/style.css.map

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.sublime-*

# Logs
*.log
npm-debug.log*