// === ABSTRACTS ===
@import "abstracts/variables";
@import "abstracts/mixins";

// === BASE ===
@import "base/reset";
@import "base/typography";
@import "base/global";

// === LAYOUT ===
@import "layout/header";
@import "layout/footer";

// === COMPONENTS ===
@import "components/buttons";

// === PAGES ===
@import "pages/home";
