body {
  background-color: $color-off-white;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.container {
  @include container;
}

.section {
  padding: $section-padding 0;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $color-primary;
}

.text-secondary {
  color: $color-text-secondary;
}

.text-light {
  color: $color-text-light;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
